@model IEnumerable<PatientListItemViewModel>
@{
    ViewData["Title"] = "Patients";
}

<a href="/patients/create" class="btn btn-primary">Add Patient</a>

<div class="mt-4">
    @foreach (var patient in Model)
    {
        <div>
            <p>Nom: @patient.Lastname</p>
            <p>Prénom: @patient.Firstname</p>
            <a href="@($"/patients/{patient.Id}")">Voir informations</a>
        </div>
        <hr />
    }
</div>