@model IEnumerable<Patient>
@{
    ViewData["Title"] = "Patients";
}

@foreach (var patient in Model)
{
    <div>
        <p>Nom: @patient.Lastname</p>
        <p>Prénom: @patient.Firstname</p>
        <a href="@($"/patients/{patient.Id}")">Informations</a>
    </div>
    <hr />
}