@model PatientResponse[]
@{
    ViewData["Title"] = "Patients";
}

<h1>Liste des patients</h1>

<br />

<a href="/patients/create" class="btn btn-primary">Ajouter un patient</a>

<hr />

<div class="mt-4">
    @foreach (var patient in Model)
    {
        <div>
            <p>Nom: @patient.Lastname</p>
            <p>Prénom: @patient.Firstname</p>
            <a href="@($"/patients/{patient.Id}")" class="btn btn-primary">Voir les informations</a>
        </div>
        <hr />
    }
</div>